[user]
  email = muntasir.joypurhat@gmail.com
  name = MuntasirSZN
  signingkey = E7FE5EC876734CA2

[credential]
  helper = /usr/local/bin/git-credential-manager
  credentialStore = gpg

[credential "https://dev.azure.com"]
  useHttpPath = true

[init]
  defaultBranch = main

[include]
  path = ~/.config/delta/themes/catppuccin.gitconfig

[core]
  pager = delta
  autocrlf = input  # keep newlines as in input
  compression = 9  # trade cpu for network
  fsync = none
  whitespace = error  # treat incorrect whitespace as errors

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  features = catppuccin-mocha
  hyperlinks = true
  true-color = always
  dark = true

[merge]
  conflictstyle = zdiff3

[diff]
  colorMoved = default
  context = 3  # less context in diffs
  renames = copies  # detect copies as renames in diffs
  interHunkContext = 10  # merge near hunks in diffs

[commit]
  gpgsign = true
  template = ~/.gitmessage

[credential "https://github.com"]
  username = MuntasirSZN

[remote "origin"]
  fetch = +refs/pull/*/head:refs/remotes/origin/pr/*

[advice]
  addEmptyPathspec = false
  pushNonFastForward = false
  statusHints = false

[log]
  abbrevCommit = true  # short commits
  graphColors = blue,yellow,cyan,magenta,green,red

[status]
  branch = true
  short = true
  showStash = true
  showUntrackedFiles = all  # show individual untracked files

[push]
  autoSetupRemote = true  # easier to push new branches
  default = current  # push only current branch by default
  followTags = true  # push also tags
  gpgSign = false  # my remotes doesn't support sign pushes

[pull]
  rebase = true

[submodule]
  fetchJobs = 16

[rebase]
  autoStash = true

[color "branch"]
  current  = magenta
  local    = default
  remote   = yellow
  upstream = green
  plain    = blue

[url "git@github.com:"]
  insteadOf = "gh:"
